.ftco-section-parallax {
  position: relative;
}

.ftco-section-parallax .parallax-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: 7em 0;
  background: #F7811D;
}

.ftco-section-parallax .heading-section-white h2 {
  font-weight: 400 !important;
}

.ftco-section .ftco-sub-title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .5em;
  color: #d4d4d4;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
}

.ftco-section .ftco-primary-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.ftco-section {
  padding: 6em 0;
  position: relative;
}

@media (max-width: 767.98px) {
  .ftco-section {
    padding: 6em 0;
  }
}

@media (min-width: 768px) {
  .ftco-section .container-fluid {
    padding: 0 4em;
  }
}


.bg-light {
  background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
  background-color: #dae0e5 !important;
}

.ftco-section {
  position: relative;
  width: 100%;
  display: block;
}

.ftco-section .nav-pills p {
  margin-bottom: 0;
}

.ftco-section .nav-pills .nav-link {
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  color: #b3b3b3;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}

.ftco-section .nav-pills .nav-link:hover {
  color: #000000;
}

.ftco-section .nav-pills .nav-link.active {
  color: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ftco-section .nav-pills .nav-link.active:after {
  opacity: 1;
}

@media (max-width: 767.98px) {
  .ftco-section .nav-pills .nav-link.active:after {
    opacity: 0;
  }
}

@media (max-width: 767.98px) {
  .ftco-section .nav-pills .nav-link {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}

.ftco-section .tab-content .tab-pane h2 {
  font-size: 24px;
}

.ftco-section .tab-content .tab-pane .one-forth {
  width: 50%;
}

.ftco-section .tab-content .tab-pane .one-forth img {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.03);
}

@media (max-width: 767.98px) {
  .ftco-section .tab-content .tab-pane .one-forth img {
    margin-bottom: 20px;
  }
}

@media (max-width: 767.98px) {
  .ftco-section .tab-content .tab-pane .one-forth {
    width: 100%;
  }
}

.ftco-section .tab-content .tab-pane .one-half {
  width: 50%;
}

@media (max-width: 767.98px) {
  .ftco-section .tab-content .tab-pane .one-half {
    width: 100%;
  }
}


.block-27 ul {
  padding: 0;
  margin: 0;
}

.block-27 ul li {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 400;
}

.block-27 ul li a,
.block-27 ul li span {
  color: #F7811D;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #F7811D;
}

.block-27 ul li.active a,
.block-27 ul li.active span {
  background: #F7811D;
  color: #F7811D;
  border: 1px solid transparent;
}

.staff {
  margin-bottom: 60px; }
  .staff .img {
    height: 270px; }
  .staff .text h3 {
    font-size: 18px;
    margin-bottom: 0;
    color: #F7811D; }
  .staff .text .position {
    color: #b3b3b3;
    display: block; }

    /* .ftco-animate {
      opacity: 0;
      visibility: hidden; } */

      .ftco-social {
        padding: 0; }
        .ftco-social li {
          list-style: none;
          margin-right: 10px; }

          .img,
          .blog-img,
          .user-img {
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center; }